#portal-logo {
  max-width: $logo-max-width;
}

.header-bg {
  background-color: $header-background;
}

#portal-banner {
  transform: translateY(-2rem);
}

@media (min-width: 992px) {
  .navbar-nav li.has_subtree .has_subtree:hover > ul {
    left: 17.8em;
  }
}

#portal-siteactions {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 14px;
}

.nav-item .bi-link-45deg {
  display: none;
}
